// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-light {
  background-color: $gray-050 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-sphere {
  background-image: url('../../assets/img/bg-sphere.svg');
  background-position: right -400px top 60px;
  background-repeat: no-repeat, no-repeat;
  @include media-breakpoint-down(md) {
    background-position: right -600px top 48px;
  }
}