// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  height: 20px;
  padding: .25rem .5rem .125rem .5rem;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
  img {
    margin: -2px 2px 0 -2px;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

.badge-outline {
  padding-top: .188rem;
  border: 1px solid $gray-300;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.badge-gold,
.badge-silver {
  color: rgba(0, 0, 0, 0.6);
}