// Base class
//
// Easily usable on <ul>, <ol>, or <div>.

.list-group {
  display: flex;
  flex-direction: column;

  // No need to set list-style: none; since .list-group-item is block level
  padding-left: 0; // reset padding because ul and ol
  margin-bottom: 0;
  .list-group-item {
    a {
      color: $gray-700;
    }
    .text-link:hover {
      text-decoration: underline;
    }
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive
// list items. Includes an extra `.active` modifier class for selected items.

.list-group-item-action {
  width: 100%; // For `<button>`s (anchors become 100% by default though)
  color: $list-group-action-color;
  text-align: inherit; // For `<button>`s (anchors inherit)

  // Hover state
  @include hover-focus {
    color: $list-group-action-hover-color;
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }

  &:active {
    color: $list-group-action-active-color;
    background-color: $list-group-action-active-bg;
  }
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;
  border: $list-group-border-width solid $list-group-border-color;
  @include media-breakpoint-down(sm) {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }

  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }

  @include hover-focus {
    z-index: 1; // Place hover/active items above their siblings for proper border styling
    text-decoration: none;
  }

  &.disabled,
  &:disabled {
    color: $list-group-disabled-color;
    background-color: $list-group-disabled-bg;
  }

  // Include both here for `<a>`s and `<button>`s
  &.active {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }
}


// Flush list items
//
// Remove borders and border-radius to keep list group items edge-to-edge. Most
// useful within other components (e.g., cards).

.list-group-flush,
.list-group-flush-px-0 {
  .list-group-item {
    border-right: 0;
    border-left: 0;
    @include border-radius(0);
  }
}

// Flush list items with no horizontal-padding

.list-group-flush-px-0 {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    &:last-child {
      border-bottom: 1px solid $gray-200 !important; 
    }
  }
}


// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@each $color, $value in $theme-colors {
  @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6));
}


//
// Top contributors
// 

.list-group-top-contributors {
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  .submissions {
    flex-shrink: 0;
    width: 48px;
    font-size: .875rem;
    font-weight: 500;
    margin-left: 8px;
  }
}

.top-contributors-container {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

//
// Various
//

.list-group-teams,
.list-group-team-members,
.list-group-organizers,
.list-group-dataset,
.list-group-achievements,
.list-group-discussion,
.list-group-users {
  color: $gray-700;
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  a,
  .achievement-title {
    display: block;
    font-weight: 700;
  }
  .badge {
    margin-left: 4px;
  }
}

.list-group-achievements {
  .list-group-item {
    padding: 1.25rem 0;
    align-items: start;
  }
  .award-image {
    width: 34px;
    margin-right: 8px;
  }
  .award {
    height: 40px;
    width: auto;
    display:block;
    margin: 2px auto 0 auto;
  }
  div:first-child {
    display: flex;
  }
  .award-date {
    color: $gray-600;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .btn {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.list-group-discussion {
  div:first-child {
    display: flex;
    align-items: center;
  }
  .like-counter-vertical {
    flex-shrink: 0;
    margin-right: 4px;
  }
  .avatar {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
  }
  a {
    display: inline;
    font-weight: 400;
  }
  .topic-title {
    display: block;
    font-weight: 700;
  }
  .topic-comments {
    flex-shrink: 0;
    margin-left: 12px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.list-group-dataset {
  .list-group-item {
    // align-items: start;
  }
  .btn {
    margin-left: .5rem;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.list-group-users {
  .list-group-item-user {
    display: flex;
    padding: 1.25rem 0;
    border-top: 1px solid $gray-200;
    @include text-truncate;
    @include media-breakpoint-down(sm) {
      padding: 1rem 0;
    }
  }
  .avatar {
    width: 44px;
    height: auto;
  }
  .text-link {
    color: $gray-800;
    &:hover {
      text-decoration: underline;
    }
  }
}