//
// Masthead
//

.masthead {
  background: $gray-050;
  padding: 48px 0;
  border-bottom: 1px solid $gray-200;
  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }
  .container-fluid {
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  p {
    max-width: 640px;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.masthead-home {
  padding: 48px 0 60px 0;
  @include media-breakpoint-down(sm) {
    padding: 40px 0 52px 0;
  }
  h1 {
    max-width: 640px;
  }
  .logos-organizers {
    margin-top: 136px;
    @include media-breakpoint-down(lg) {
      margin-top: 28px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }
}

.masthead-challenge,
.masthead-blog-post {
  padding: 48px 0 32px 0;
  @include media-breakpoint-down(sm) {
    padding: 32px 0 20px 0;
  }
  .badge {
    margin: 0 4px 6px 0;
  }
  .row:nth-child(2) {
    margin-top: 24px;
    @include media-breakpoint-down(sm) {
      margin-top: 16px;
    }
  }
  h1 {
    max-width: 840px;
  }
  p {
    margin: 2rem 0;
    max-width: 720px !important;
    @include media-breakpoint-down(md) {
      margin: 1rem 0 1.5rem 0;
    }
  }
  .prizes-breakdown {
    margin: .688rem 0 1.5rem 0;
    font-size: 1.125rem;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  .organizer-attribution,
  .author {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    img {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
    span {
      a {
        color: $gray-800;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .organizer-attribution,
  .author,
  .stats-group {
    flex-shrink: 0;
    margin-right: 32px;
    margin-bottom: 12px;
  }
  .stats-group {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .stat-item {
    color: $gray-800;
    font-size: 1rem !important;
  }
  .btn-set {
    flex-shrink: 0;
    margin-bottom: 1rem;
  }
}

.masthead-blog-post {
  .row:nth-child(2) {
    margin-top: 24px;
    @include media-breakpoint-down(sm) {
      margin-top: 16px;
    }
  }
  p {
    margin: 1rem 0;
  }
}

.masthead-organizer {
  .avatar-organizer {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    margin-right: 1.5rem;
    @include media-breakpoint-down(md) {
      width: 120px;
      height: 120px;
    }
    @include media-breakpoint-down(sm) {
      width: 80px;
      height: 80px;
      margin-right: 1rem;
    }
    @include media-breakpoint-down(xs) {
      width: 60px;
      height: 60px;
    }
  }
  p {
    @include media-breakpoint-down(sm) {
      margin-top: 1rem;
    }
  }
}

.masthead-info {
  color: $gray-700;
  @include media-breakpoint-down(sm) {
    font-size: .933rem;
  }
  header {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 1.5rem 0 4px 0;
    @include media-breakpoint-down(sm) {
      margin-top: 1.25rem;
    }
    h4 {
      margin: 0;
    }
    .btn {
      margin-left: 8px;
    }
  }
}

.masthead-open {
  background: transparent;
  padding-bottom: 0;
  border-bottom: none;
}

.masthead-achievement {
  .award-gold {
    width: 56px;
    height: auto;
    margin: .5rem 1rem 0 0;
    @include media-breakpoint-down(md) {
      width: 52px;
      margin-top: .688rem;
    }
    @include media-breakpoint-down(sm) {
      width: 44px;
      margin: .5rem .75rem 0 0;
    }
  }
  .award-silver,
  .award-bronze {
    width: 60px;
    height: auto;
    margin: .75rem 1rem 0 0;
    @include media-breakpoint-down(md) {
      width: 56px;
      margin-top: .688rem;
    }
    @include media-breakpoint-down(sm) {
      width: 52px;
      margin: .5rem .75rem 0 0;
    }
  }
  p {
    margin: 0;
  }
}

.masthead-user {
  .avatar {
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    margin-right: 28px;
    @include media-breakpoint-down(md) {
      width: 160px;
      height: 160px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .avatar-sm {
    @include media-breakpoint-up(md) {
      display: none;
    }
    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      border-radius: 50%;
    }
  }
  .masthead-content {
    flex: 1 1 auto;
  }
  .masthead-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .masthead-info-item {
      width: 20%;
      padding-right: 20px;
      @include media-breakpoint-down(md) {
        width: 50%;
      }
      span {
        display: block;
      }
    }
    .api-key {
      width: 40%;
      @include media-breakpoint-down(md) {
        width: 50%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}